---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
---

<Layout title="Creative Company | HEADER">
	<!-- la pagina aun no contiene header -->
	<main>
		<Hero />
	</main>
</Layout>