---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Header from '../sections/Header.astro';
---

<Layout title="Creative Company | HEADER">
	<Header/>
	<main>
		<Hero />
	</main>
</Layout>