---
import CardFooter from "../components/CardFooter.astro";
---

<section class={Astro.props.class}>
    <CardFooter
        imageCard="/public/Icon-Web-Design.svg"
        titleCard="Web Design Projects"
        contentCard="Make your website user friendly and look more professional"
    />
    <CardFooter
        imageCard="/public/icon-social-media.svg"
        titleCard="Social Media Templates"
        contentCard="Gain more followers or subscribers with the right template"
    />
    <CardFooter
        imageCard="/public/Icon-digital-artwork.svg"
        titleCard="Digital Artwork"
        contentCard="Make your website user friendly and look more professional"
    />
</section>
